<div>
  <p>Sub1 works!</p>
  <pre>{{user | json}}</pre>
  <button (click)="request()">Request</button>
  <ul>
    <li><a routerLink="sub2">Sub2</a></li>
    <li><a routerLink="orders">Orders</a></li>
    <li><a routerLink="customers">Customers</a></li>
  </ul>

  <table>
    <tr>
      <td><input (click)="left = !left" type="button" value="toggle left"></td>
      <td><input (click)="right = !right" type="button" value="toggle right"></td>
    </tr>
    <tr>
      <td>
        <app-left *appDisablable="left"></app-left>
      </td>
      <td>
        <app-right *appDisablable="right"></app-right>
      </td>
    </tr>
  </table>

  <router-outlet></router-outlet>
</div>
